<!DOCTYPE html>
<html>
<head>
  <title>Mly</title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery', 'mousewheel', 'todo' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
